.git
.github
.env
.env.*
!.env.example
!.env.cloudpanel.example
!.env.docker.postgres.example
!.env.docker.mysql.example
!.env.playground.example
!.env.cloudpanel.playground.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
backups
*.zip
*.tar.gz
*.sql
storage/app/freeradius-generated
storage/app/deploy
