/.phpunit.cache
/.phpunit.result.cache
/.fleet
/.idea
/.vscode
/.env
/.env.*
!/.env.example
!/.env.cloudpanel.example
!/.env.docker.postgres.example
!/.env.docker.mysql.example
!/.env.playground.example
!/.env.cloudpanel.playground.example
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/backups
*.zip
*.tar.gz
.DS_Store
Thumbs.db
/storage/app/freeradius-generated
/storage/app/deploy
!/storage/framework/cache/data/.gitignore
!/storage/framework/cache/data/README.md
!/storage/framework/sessions/.gitignore
!/storage/framework/sessions/README.md
!/storage/framework/views/.gitignore
!/storage/framework/views/README.md
